* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template: 
    "header header header" 70px
    "left main right" 1fr /
    400px 1fr 400px;
    grid-gap: 10px;

    height: 100vh;
}

header {
    display: grid;
    grid-area: header;
    background-color: rgba(0, 0, 255, 0.461);
    border-radius: 10px;
    margin-bottom: 20px;
    grid-template-columns: 0.35fr 1fr 1fr;
    border: 1px dotted black;
    gap: 5px;
}

.left {
    grid-area: left;
    display: grid;
    grid-template:
    "profile" 1fr
    "page" 250px
    "recent" 1fr /
    1fr;
    grid-gap: 10px;
    margin-left: 150px;
}

.profile {
    grid-area: profile;
    background-color: rgba(255, 0, 0, 0.437);
    border-radius: 10px;
}

.page {
    grid-area: page;
    background-color: rgba(137, 43, 226, 0.391);
    border-radius: 10px;
}

.recent {
    grid-area: recent;
    background-color: rgba(34, 139, 34, 0.435);
    border-radius: 10px;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 
    "posting_bar" 70px
    "home" 1fr /
    1fr;

    grid-gap: 10px;
}

.posting_bar {
    display: grid;
    grid-area: posting_bar;
    background-color: lavender;
    border-radius: 10px;
    grid-template-columns: 40px 1fr;
    border: 1px dotted firebrick;
    gap: 5px;
    padding: 5px;
}

.home {
    grid-area: home;
    background-color: rgba(255, 217, 0, 0.469);
    border-radius: 10px;
}

.right {
    grid-area: right;
    display: grid;
    grid-template: 
    "news" 1fr
    "most_viewed" 1fr
    "feeds" 1fr /
    1fr;

    grid-gap: 10px;
    margin-right: 150px;
}

.news {
    grid-area: news;
    background-color: rgba(205, 92, 92, 0.505);
    border-radius: 10px;
}

.most_viewed {
    grid-area: most_viewed;
    background-color: rgba(0, 139, 139, 0.485);
    border-radius: 10px;
}

.feeds {
    grid-area: feeds;
    background-color: rgba(139, 0, 139, 0.496);
    border-radius: 10px;
}

.box {
    display: flex;
    border: 1px dotted red;
    gap: 10px;
    border-radius: 50px;
}

.logo_box {
    display: grid;
    grid-template-columns: 0.5fr;
    margin: 5px;
    margin-left: 150px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    display: grid;
    grid-template-columns: 0.5fr;
    margin: 5px;
    margin-right: 300px;
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    border: 1px dotted green;
    padding: 10px;
}

.img_icon,
.search_bar_two {
    border: 1px dotted black;
}